*.log
*.tmp
*.pyc
.*/
!.github

__pycache__/
models/
examples/
executables/
test/
nidra-env/

autoscorer_output/
build/
dist/
NIDRA_build/
old/

.tmp/
NIDRA.egg-info/

!NIDRA/nidra_gui/dist/
!NIDRA/nidra_gui/dist/**
