*.log
*.tmp
*.pyc

__pycache__/


.*/
.tmp/
NIDRA.egg-info/
release/
tests/
executables/
autoscorer_output/
examples/test_data_zmax/autoscorer_output/
build/
dist/
!NIDRA/nidra_gui/dist/
!NIDRA/nidra_gui/dist/**
